/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Courier New', Courier, monospace;
  background-color: #ffffff;
}

.ng-valid:not(form).ng-touched {
  border: 3px solid #42A948;
}

.ng-invalid:not(form).ng-touched {
  border: 3px solid #a94442;
}
